* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.navbar {
  min-height: 10vh;
}

.navbar .container {
  width: 90%;
  margin: auto;
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 28% 2%;
      grid-template-columns: 70% 28% 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1rem;
}

.navbar .container .nav-logo {
  font-family: "Yellowtail", cursive;
  font-size: 2rem;
}

.navbar .container .nav-logo a {
  text-decoration: none;
  color: white;
}

.navbar .container .nav-list {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navbar .container .nav-list a {
  color: white;
  text-decoration: none;
}

.navbar .container .nav-list a:hover {
  text-decoration: underline;
}

.content {
  min-height: 78vh;
  width: 50%;
  margin: auto;
  color: white;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

.content p {
  font-size: 1.2rem;
}

.content span {
  color: #ff00bf;
  text-decoration: underline;
}

.footer {
  position: absolute;
  min-height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  color: white;
}

.table-content {
  width: 90%;
  min-height: 78vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.table-content h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: white;
}

.table-content table {
  border-collapse: collapse;
  width: 100%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.table-content table thead {
  background-color: #252525;
}

.table-content table th,
.table-content table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-content table td {
  padding: 1rem;
}

.table-content table .theater {
  width: 12rem;
}

.table-content .margin {
  margin: 2rem 0;
}

.content-log,
.content-sign {
  min-height: 78vh;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  padding: 2rem;
  width: 50%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-log h1,
.content-sign h1 {
  font-size: 4rem;
}

.content-log form,
.content-sign form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
}

.content-log form label,
.content-sign form label {
  font-size: 1.4rem;
}

.content-log form .name-box,
.content-log form .email-box,
.content-log form .password-box,
.content-log form .submit-box,
.content-sign form .name-box,
.content-sign form .email-box,
.content-sign form .password-box,
.content-sign form .submit-box {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.content-log form .name-box input,
.content-log form .email-box input,
.content-log form .password-box input,
.content-log form .submit-box input,
.content-sign form .name-box input,
.content-sign form .email-box input,
.content-sign form .password-box input,
.content-sign form .submit-box input {
  width: 30rem;
  height: 3rem;
}

.content-log form .submit-box button,
.content-sign form .submit-box button {
  width: 8rem;
  height: 2.7rem;
}

.content-log form .submit-box span,
.content-sign form .submit-box span {
  color: #0000ac;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.content-log form .submit-box span:hover,
.content-sign form .submit-box span:hover {
  color: blue;
}

.hide {
  display: none;
}

.movie-adder {
  width: 90%;
  min-height: 78vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.movie-adder h1 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  color: white;
}

.movie-adder form {
  width: 50%;
  color: white;
  font-family: "Poppins", sans-serif;
}

.movie-adder form .movie-box,
.movie-adder form .rating-box,
.movie-adder form .info-box,
.movie-adder form .btn-box {
  font-size: 1.3rem;
  margin: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-adder form .movie-box input,
.movie-adder form .rating-box input,
.movie-adder form .info-box input,
.movie-adder form .btn-box input {
  width: 30rem;
}

.movie-adder form .info-box textarea {
  border-radius: 0.2rem;
  width: 30rem;
  height: 10rem;
  resize: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.admin-content {
  width: 50%;
  margin: auto;
  padding: 10rem;
  min-height: 78vh;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  font-family: "Poppins", sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin-content h1 {
  font-size: 4rem;
}

.admin-content h3 {
  font-weight: 500;
  margin: 1rem 0;
}

.admin-content button {
  margin: 2rem 0;
}

.showcase {
  z-index: -99;
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order,
.submit,
.cancel {
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.order {
  color: white;
  background-color: #139942;
  width: 7rem;
  height: 2.4rem;
  padding: 0 1rem;
}

.order:hover {
  background-color: #128f3d;
}

.order-a {
  color: white;
  background-color: #139942;
  padding: 0.3rem 1.7rem;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.order-a:hover {
  background-color: #128f3d;
}

.sider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cancel {
  color: white;
  background-color: #ff3535;
  width: 7rem;
  height: 2.4rem;
  padding: 0 1rem;
}

.cancel:hover {
  background-color: #e63131;
}

.cancel-a {
  color: white;
  background-color: #ff3535;
  padding: 0.3rem 1.7rem;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.cancel-a:hover {
  background-color: #e63131;
}

.submit {
  color: white;
  background-color: #3273dc;
  width: 7rem;
  height: 2.2rem;
  padding-top: 0 1rem;
}

.submit:hover {
  background-color: #1a56b6;
}

.submit-a {
  color: white;
  background-color: #3273dc;
  width: 7rem;
  height: 2.2rem;
  border: none;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 0.4rem 0;
  text-align: center;
}

.submit-a:hover {
  background-color: #1a56b6;
}

.admin-btn {
  color: white;
  background-color: #3273dc;
  width: 10rem;
  height: 2.2rem;
  text-align: center;
  padding-top: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin: 2rem 0;
}

.admin-btn:hover {
  background-color: #1a56b6;
}

.back {
  color: white;
  background-color: #3273dc00;
  width: 7rem;
  height: 2.2rem;
  text-align: center;
  padding-top: 0 1rem;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.back:hover {
  background-color: #ffffff36;
}

.admin-back {
  color: white;
  background-color: #3273dc00;
  width: 7rem;
  height: 2.2rem;
  text-align: center;
  padding-top: 0.3rem;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.admin-back:hover {
  background-color: #ffffff36;
}

input {
  width: 30rem;
}

input[type="date"] {
  width: 12rem;
}

#time {
  width: 10rem;
}

select {
  width: 11rem;
}

input,
select {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.box .boxs {
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 0.3rem;
  width: 20rem;
  height: 7rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.error {
  background-color: rgba(255, 25, 25, 0.507);
  border: 1px solid #ff1919;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: white;
  width: 50%;
  text-align: center;
}

.error p {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.alert {
  width: 100%;
  padding: 0.7rem 0.2rem;
  background-color: rgba(11, 168, 11, 0.3);
  border: 1px solid #0ba80b;
  font-family: "Poppins", sans-serif;
}

.alert p {
  font-weight: 400;
  color: white;
}

.alert p span {
  font-weight: 600;
  color: #0ba80b;
}

.not-alert {
  width: 100%;
  padding: 0.7rem 0.2rem;
  background-color: rgba(168, 11, 11, 0.5);
  border: 1px solid #a80b0b;
  font-family: "Poppins", sans-serif;
}

.not-alert p {
  font-weight: 400;
  color: white;
}

.not-alert p span {
  font-weight: 600;
  color: #dd1616;
}
/*# sourceMappingURL=global_styles.css.map */