* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  transition: 1s ease-in-out;
}

$font1: "Poppins", sans-serif;
$font2: "Yellowtail", cursive;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

@import "navbar";
@import "movies_table";
@import "login";
// @import "";

// showcase CSS
.showcase {
  z-index: -99;
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;

  // vedio
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.order,
.submit,
.cancel {
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
}

.order {
  color: white;
  background-color: #139942;
  width: 7rem;
  height: 2.4rem;
  padding: 0 1rem;
  &:hover {
    background-color: #128f3d;
  }
}

.cancel {
  color: white;
  background-color: rgb(255, 53, 53);
  width: 7rem;
  height: 2.4rem;
  padding: 0 1rem;
  &:hover {
    background-color: rgb(230, 49, 49);
  }
}

.submit {
  color: rgb(255, 255, 255);
  background-color: #3273dc;
  width: 7rem;
  height: 2.2rem;
  padding: 0 1rem;
  &:hover {
    background-color: #1a56b6;
  }
}

input {
  width: 15rem;
}

select {
  width: 5rem;
}

input,
select {
  height: 2.3rem;
  padding: 0 1rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .boxs {
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 0.3rem;
    width: 20rem;
    height: 7rem;
    margin: 1rem;
    @include flex(row, space-evenly, center);
  }
}
