* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  transition: 1s ease-in-out;
  // background-color: rgb(0, 0, 0);
}

$font1: "Poppins", sans-serif;
$font2: "Yellowtail", cursive;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: wrap;
}

@import "navbar";
@import "movies_table";
@import "login";
@import "admin";

// showcase CSS
.showcase {
  z-index: -99;
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;

  // vedio
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.order,
.submit,
.cancel {
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
}

.order {
  color: white;
  background-color: #139942;
  width: 7rem;
  height: 2.4rem;
  padding: 0 1rem;
  &:hover {
    background-color: #128f3d;
  }
}

.order-a {
  color: white;
  background-color: #139942;
  padding: 0.3rem 1.7rem;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
  &:hover {
    background-color: #128f3d;
  }
}

.sider {
  @include flex(row, space-evenly, center);
}

.cancel {
  color: white;
  background-color: rgb(255, 53, 53);
  width: 7rem;
  height: 2.4rem;
  padding: 0 1rem;
  &:hover {
    background-color: rgb(230, 49, 49);
  }
}

.cancel-a {
  color: white;
  background-color: rgb(255, 53, 53);
  padding: 0.3rem 1.7rem;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
  &:hover {
    background-color: rgb(230, 49, 49);
  }
}

.submit {
  color: rgb(255, 255, 255);
  background-color: #3273dc;
  width: 7rem;
  height: 2.2rem;
  padding-top: 0 1rem;
  &:hover {
    background-color: #1a56b6;
  }
}

.submit-a {
  color: rgb(255, 255, 255);
  background-color: #3273dc;
  width: 7rem;
  height: 2.2rem;
  border: none;
  border-radius: 0.2rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
  padding: 0.4rem 0;
  text-align: center;
  &:hover {
    background-color: #1a56b6;
  }
}

.admin-btn {
  color: rgb(255, 255, 255);
  background-color: #3273dc;
  width: 10rem;
  height: 2.2rem;
  text-align: center;
  padding-top: 0.3rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
  text-decoration: none;
  margin: 2rem 0;
  &:hover {
    background-color: #1a56b6;
  }
}

.back {
  color: rgb(255, 255, 255);
  background-color: #3273dc00;
  width: 7rem;
  height: 2.2rem;
  text-align: center;
  padding-top: 0 1rem;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
  &:hover {
    background-color: #ffffff36;
  }
}

.admin-back {
  color: rgb(255, 255, 255);
  background-color: #3273dc00;
  width: 7rem;
  height: 2.2rem;
  text-align: center;
  padding-top: 0.3rem;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  font-family: $font1;
  &:hover {
    background-color: #ffffff36;
  }
}

input {
  width: 30rem;
}

select {
  width: 5rem;
}

input,
select {
  height: 3rem;
  padding: 0 1rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 0.2rem;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .boxs {
    background-color: rgba(0, 0, 0, 0.432);
    border-radius: 0.3rem;
    width: 20rem;
    height: 7rem;
    margin: 1rem;
    @include flex(row, space-evenly, center);
  }
}

.error {
  background-color: rgba(255, 25, 25, 0.507);
  border: 1px solid rgb(255, 25, 25);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  width: 50%;
  text-align: center;
  p {
    font-weight: 600;
    font-family: $font1;
  }
}

.alert {
  width: 100%;
  padding: 0.7rem 0.2rem;
  background-color: rgba(11, 168, 11, 0.3);
  border: 1px solid rgba(11, 168, 11, 1);
  font-family: $font1;
  p {
    font-weight: 400;
    color: white;
    span {
      font-weight: 600;
      color: rgb(11, 168, 11);
    }
  }
}
